body {
    font-family: 'Roboto Slab','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.text-mustard{
    color: #fed136 !important;
}


.navbar-brand {
    
    font-size:28px;
    font-family: 'Kaushan Script','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.nav-link:hover{
    color: #fed136 !important;
}
@media (max-width:991px)
{
    .custom-navbar
    {
        background-color:#212529 !important
    }
    .navbar-brand 
    {
        font-size:20px;
    }
    .navbar
    {
        padding: 14px !important
    }
}

.main{
    background-image: url('../images/header-bg.jpg');
    height: 100vh;;
}

.wel{
    font-size: 40px;
}
.intro h1 {
    font-size: 75px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.btn-x1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.advisors
{
    font-family: 'Poppins', sans-serif;
    
}
.advisors .advisor-info h2
{
    color: #002147;
}
.advisors .sub-advisor 
{
  
    position: relative;
    font-family: "segoe ui light"
}
.advisors .sub-advisor a
{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffb606;
}
.advisors .sub-advisor .overlay
{
    background-color:rgba(0, 33, 71, 0.7);
    position: absolute;
    top:-100%;
    bottom: 100%;
    left:15px;
    right:15px;
    transition: all 700ms ease  0.35s;
}
.advisors .sub-advisor:hover .overlay
{
    top:15px;
    bottom:15px;
}
.advisors .info-title
{
    background-color: #fff;
    position: absolute;
    left:15px;
    right:15px;
   
    bottom:15px;
    transition: all 800ms ease 0.35s;
}
.advisors .sub-advisor:hover .info-title
{
    bottom:-100%;
    transition-delay: 0.5s;
}
.advisors .info-title h4
{
    color: #002147;
}
.advisors .info-title span
{
    color: #ffb606;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.category
{
   
    font-family: 'Poppins', sans-serif;
}
.category .title
{
    font-size:30px;
    color:#002147;
    font-weight: 700;

}
.category .text {
    color: #666;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}
.card-1 ,.card-2,.card-3,.card-4,.card-5,.card-6,.card-7,.card-8
{
    
    height: 178px;
    background-size: cover;
    border: none;
    transition:all 1s;
} 
.card-1{background-image: url(../images/1.jpg);}
.card-2{ background-image: url(../images/22.jpg);}
.card-3{background-image: url(../images/3.jpg);}
.card-4{background-image: url(../images/44.jpg);}
.card-5{background-image: url(../images/5.jpg);}
.card-6{background-image: url(../images/6.jpg);}
.card-7{background-image: url(../images/7.jpg);}
.card-8{background-image: url(../images/8.jpg);}
.card-width
{
    width: 100%;
    height: 100%;
}

.card-1 .car-overlay {background-color: #337ab7;}
.card-1 .car-overlay:hover{background-color:rgba(51, 122, 180, 0.58);}

.card-2 .car-overlay {background-color: #1ec1d9;}
.card-2 .car-overlay:hover{background-color:rgba(30, 193, 217, 0.51)}

.card-3 .car-overlay {background-color: #10c45c ;}
.card-3 .car-overlay:hover{background-color:rgba(16, 196, 92, 0.64)}

.card-4 .car-overlay {background-color: #47c58e ;}
.card-4 .car-overlay:hover{background-color:rgba(71, 197, 142, 0.6)}

.card-5 .car-overlay {background-color: #f9bd44;}
.card-5 .car-overlay:hover{background-color:rgba(249, 189, 68, 0.7)}

.card-6 .car-overlay {background-color: #e948ae ;}
.card-6 .car-overlay:hover{background-color:rgba(233, 72, 174, 0.55)}

.card-7 .car-overlay {background-color: #e84b3a ;}
.card-7 .car-overlay:hover{background-color:rgba(232, 75, 58, 0.62)}

.card-8 .car-overlay {background-color: #92278f ;}
.card-8 .car-overlay:hover{background-color:rgba(146, 39, 143, 0.48)}
.card .car-overlay {  transition:all 1s;}




.plink
{
    position: relative;
    display: block;
}

.pluss
{
    
    width: 100%;
    height:100%;
    top:0;
    left:0;
   opacity: 0;
   position:absolute;
    
transition: all 0.5s;
}
.plink:hover .pluss
{
    background-color: rgba(254,209,54,.9);
    opacity:1;
}
.bg-gray{
   background-color: #f8f9fa;
}
.textt h4{
    font-weight: 700;
    font-size: 1.5rem;
    

}
.work{
    
       
        font-family: 'Montserrat','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','sans-serif','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    
}
.work p{
    font-weight: 700;
    font-size: 16px;
}
.contact
{
    background-color: #212529;
    background-image: url(../images/map-image.png);
    background-size: cover;
    height: 110vh;
    
}
.contact h2 
{
    font-size: 40px;
    margin-bottom: 15px;
   
  }
  .Mymessage {
    height: 248px;
}
.form-group input{
    padding: 35px;
}